@keyframes inicio {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

main{
    animation: inicio 1s ease-in-out;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 14px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #34495e;
    color: white;
}

tr:nth-child(even) {
    background-color: #eeeeee;
}

td {
    transition: transform 0.3s ease;
}

td:hover {
    transform: scale(1.1);
}

tbody tr {
    opacity: 0;
    animation: inicio 0.5s ease-in-out forwards;
}

tbody tr:nth-child(odd) {
    animation-delay: 0.2s;
}

tbody tr:nth-child(even) {
    animation-delay: 0.4s;
}

.button-container{
    display: inline-block;
    margin-right: 30px;
}

.button-container button {
    width: 100%;
}

button {
    background-color: #2ecc71;
    border: none;
    padding: 12px 20px;
    margin: 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease, box-shadow 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #27ae60;
    transform: scale(1.05);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.5);
}

.options-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
}

.option-box {
    width: 30%;
}

.options-container div{
    width: 90%;
    margin-bottom: 15px;
}

.options-container div:last-child{
    margin-bottom: 0;
}

select {
    width: 100%;
    padding: 12px 16px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    font-size: 14px;
    color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}

select:focus {
    outline: none;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

select:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background-color: #ececec;
}

.mensaje {
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    padding: 10px;
    color: #155724;
    border-radius: 5px;
    animation: inicio 1s ease;
    width: 20%;
    margin: auto;
    text-align: center;
}

.container {
    padding: 20px;
    padding-top: 0px;
    min-width: 100%;
    max-width: 100%;
    margin: auto;
}

#mostrar-alumnos-btn {
    background-color: #8e44ad;
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#mostrar-alumnos-btn:hover {
    background-color: #732d91;
}

.register-btn {
    background-color: #3498db;
    color: white;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

.register-btn:hover {
    background-color: #2980b9;
}

#mostrar-alumnos-btn.btn {
    background-color: #f39c12;
}

#mostrar-alumnos-btn.btn:hover {
    background-color: #e67e22;
}
