@keyframes inicio{
    0%{
        transform: translateY(-30px);
        opacity: 0%;
    }
    100%{
        transform: translateY(0px);
        opacity: 100%;
    }
}

.links{
    display: flex;
    align-items: center;
    width: 70%;
    height: 100px;  
    justify-content: space-around;
    animation: inicio 1s normal;
}

.links a{
    text-align: center;
    margin: 30px;
    padding: 15px;
    width: 250px;
    text-decoration: none;
    color: black;
    border-radius: 8px;
    font-size: 18px;
    background-color: #fdffec;
    box-shadow: 4px 4px 6px rgb(0, 0, 0, 0.2);
    outline: 1px solid rgb(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.links a:hover{
    background-color: #759CBF;
    outline: 1px solid rgb(0, 0, 0, 0.3);
    box-shadow: 8px 8px 10px rgb(0, 0, 0, 0.5);
    font-size: 20px;
    color: white;
    font-weight: bolder;
    transform: scale(1.05);
}
