*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::selection {
    background: #D9D9D9;
}

html{
    font-family: "Inter", sans-serif;
    background-color: #D9D9D9;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    background-color: #FFFFFF;
    width: 23%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 3px 2px 12px rgb(0, 0, 0, 0.3);
}

img{
    width: 80px;
    height: auto;
    border-radius: 12px 12px 0px 0px;
}

h1{
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 700;
}

label{
    display: block;
    font-weight: 600;
}

input[type="text"], input[type="password"]{
    width: 100%;
    padding: 6px;
    margin: 8px 0px;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
    outline: none;
}

input[type="submit"]{
    width: 100%;
    padding: 10px;
    margin: 8px 0px;
    border-radius: 7px;
    background-color: #2C2C2C;
    color: white;
    cursor: pointer;
    font-weight: 700;
}

input[type="submit"]:hover{
    background-color: #4C4C4C;
}

a{
    color: #2C2C2C;
    font-weight: 500;
}

input::placeholder{
    color: #cacaca;
}

.form-input{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

@keyframes mensaje{
    0%{
        transform: translateY(-100px);
        opacity: 0%;
    }
    100%{
        transform: translateY(0px);
        opacity: 100%;
    }
}

.error{
    background-color: #faa39d;
    padding: 15px;
    text-align: center;
    font-size: large;
    font-weight: bolder;
    border-radius: 12px;
    box-shadow: 6px 6px 12px rgb(0, 0, 0, 0.4);
    margin-bottom: 35px;
    animation: mensaje 1s normal;
    transition: opacity 0.5s ease;
    z-index: -1;
}

.cierre{
    background-color: #9dfab7;
    padding: 15px;
    text-align: center;
    font-size: large;
    font-weight: bolder;
    border-radius: 12px;
    box-shadow: 6px 6px 12px rgb(0, 0, 0, 0.4);
    margin-bottom: 35px;
    animation: mensaje 1s normal;
    transition: opacity 0.5s ease;
    z-index: -1;
}

@keyframes desaparecer{
    0%{
        transform: translateY(0px);
        opacity: 100%;
    }
    100%{
        transform: translateY(-100px);
        opacity: 0%;
        display: none;
    }
}

.desaparecer {
    animation: desaparecer 1s normal;
    opacity: 0;
}
