@keyframes inicio {
    0% {
        transform: translateY(-50px);
        opacity: 0%;
    }
    100% {
        transform: translateY(0px);
        opacity: 100%;
    }
}

main {
    display: flex;
    width: 70%;
    gap: 60px;
    margin: auto;
    animation: inicio 1s ease-in-out;
    justify-content: center;
    margin-top: 100px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    justify-content: center;
}

li {
    margin: 10px;
}

.container1 form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 183, 183);
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.container1 form:hover {
    transform: translateY(-5px);
}

.container2 {
    background-color: #f1e6d7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 35px;
    width: 45%;
    border-radius: 14px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.container2:hover {
    transform: translateY(-5px);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin: 12px 0;
    width: 100%;
}

.form-group label {
    width: 100%;
    text-align: center;
    margin-right: 10px;
    background-color: #ffd966;
    padding: 8px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.form-group label:hover {
    background-color: #f3c23d;
}

.form-group select {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    padding: 8px;
    transition: all 0.3s ease;
}

.form-group select:hover {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
}

form input[type="text"] {
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    width: 100%;
    outline: none;
    transition: all 0.3s ease;
}

form input[type="text"]:hover {
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
}

form button[type="submit"] {
    width: 50%;
    margin: auto;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #dffae8;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    cursor: pointer;
}

form button[type="submit"]:hover {
    font-weight: bolder;
    box-shadow: 4px 5px 12px rgba(0, 0, 0, 0.3);
    background-color: #c8f2d6;
    transform: scale(1.05);
}

input[type="radio"] {
    margin-right: 5px;
    text-decoration: none;
}
