/* HEADER */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::selection {
    background: var(--selection);
}

html {
    font-family: "Inter", sans-serif;
    background-color: var(--bg-color);
    transition: background-color 0.2s, color 0.3s;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-bg);
    padding: 20px 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

header h1 {
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    max-width: 150px;
}

header img {
    width: 60px;
    height: auto;
    transition: transform 0.2s ease-in-out;
}

header img:hover {
    transform: scale(1.05);
}

nav {
    display: flex;
    gap: 20px;
}

ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

li a {
    text-decoration: none;
    color: FFFFFF;
    color: var(--text-color);
    font-size: 18px;
    transition: color 0.2s ease;
}

li a:hover {
    color: #acacac;
}

.saludoContainer {
    display: flex;
    align-items: center;
    gap: 15px;
}

.saludoContainer img {
    width: 60px;
    height: auto;
    border-radius: 50%;
}

h2 {
    font-size: 18px;
    font-weight: 600;
    color: var(--text-color);
}

header p {
    font-size: 15px;
    color: #a7a7a7;
}

a {
    transition: transform 0.3s ease;
    color: var(--link-a);
}

a:hover {
    transform: scale(1.05);
}

::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
    border-radius: 10px; /* Bordes redondeados */
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-bg); /* Color de la barra de desplazamiento */
    transition: background-color 1s ease; /* Transición suave en color */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #505050;
}

/* PRINCIPAL */

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    animation: inicio 1s normal;
}

main a{
    font-size: 14px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 200;
    padding: 8px 15px;
    border-radius: 6px;
    background-color: #2C2C2C;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
    margin-top: 30px;
}

main form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 20px;
    background-color: var(--card-bg);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

main form label{
    display: inline-block;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #76b8ff;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
    transition: background-color 0.5s ease;
}

main form label:hover{
    cursor: pointer;
    background-color: #0056b3;
}

.form-group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

h3{
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    text-align: center;
}

input[type='file']{
    display: none;
}

input[type='submit']{
    background-color: #87ff8d;
    padding: 10px;
    text-decoration: none;
    color: black;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    box-shadow: 4px 4px 6px rgb(0, 0, 0, 0.2);
    border: none;
    outline: none;
}

input[type='submit']:hover{
    cursor: pointer;
    transform: scale(1.05);
}

#filePreview{
    font-size: 14px;
    font-weight: 600;
    color: var(--text-color);
    background-color: var(--card-bg);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

/* ANIMACIONES */

@keyframes inicio{
    0%{
        transform: translateY(-50px);
        opacity: 0%;
    }
    100%{
        transform: translateY(0px);
        opacity: 100%;
    }
}

/* Modo Claro */
:root {
    --bg-color: #FFFFFF;
    --header-bg: #F5F5F5;
    --text-color: #333;
    --card-bg: #FFFFFF;
    --card-border: #dfdfdf;
    --link-bg: #2C2C2C;
    --scrollbar-bg: #b0b0b0;
    --link-a: #fff;
    --icon-filter: invert(0) brightness(0);
    --icon-theme: #1f1e1e;
    --selection: #D9D9D9;
    --bg-h2: #dad7d7;
    --input-text: #f0f0f0;
}

/* Modo Oscuro */
.dark-mode {
    --bg-color: #313131;
    --header-bg: #1E1E1E;
    --text-color: #E0E0E0;
    --text-secondary-color: #B0B0B0;
    --card-bg: #1E1E1E;
    --card-border: #292929;
    --link-bg: #fff;
    --scrollbar-bg: #666;
    --link-a: #333;
    --icon-filter: invert(1) brightness(1);
    --icon-theme: #ececec;
    --selection: #a0a0a0;
    --bg-h2: #6d6d6d;
    --input-text: #c7c7c7;
}

#toggleTheme{
    border: none;
    border-radius: 50%;
    background-color: var(--icon-theme);
    width: 35px;
}

#toggleTheme:hover{
    cursor: pointer;
}
