/* HEADER */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::selection {
    background: var(--selection);
}

html {
    font-family: "Inter", sans-serif;
    background-color: var(--bg-color);
    transition: background-color 0.2s, color 0.3s;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-bg);
    padding: 20px 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

header h1 {
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    max-width: 150px;
}

header img {
    width: 60px;
    height: auto;
    transition: transform 0.2s ease-in-out;
}

header img:hover {
    transform: scale(1.05);
}

nav {
    display: flex;
    gap: 20px;
}

ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

li a {
    text-decoration: none;
    color: FFFFFF;
    color: var(--text-color);
    font-size: 18px;
    transition: color 0.2s ease;
}

li a:hover {
    color: #acacac;
}

.saludoContainer {
    display: flex;
    align-items: center;
    gap: 15px;
}

.saludoContainer img {
    width: 60px;
    height: auto;
    border-radius: 50%;
}

h2 {
    font-size: 18px;
    font-weight: 600;
    color: var(--text-color);
}

header p {
    font-size: 15px;
    color: #a7a7a7;
}

a {
    transition: transform 0.3s ease;
    color: var(--link-a);
}

a:hover {
    transform: scale(1.05);
}

::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
    border-radius: 10px; /* Bordes redondeados */
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-bg); /* Color de la barra de desplazamiento */
    transition: background-color 1s ease; /* Transición suave en color */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #505050;
}

/* PRINCIPAL */

h1, h2, h3, td{
    color: var(--text-color);
}

p{
    color: var(--text-secondary-color);
}

button{
    border: none;
}

main img{
    width: 200px;
    margin: 25px;
    border-radius: 50%;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.master{
    display: flex;
    align-items: center;
    background-color: var(--card-bg);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.45);
    padding: 20px;
    padding-right: 50px;
    border-radius: 12px;
    width: auto;
    height: 60%;
    margin-top: 50px;
    animation: inicio 1s normal;
}

.seccion1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.seccion1 a{
    font-size: 15px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 200;
    padding: 8px 15px;
    border-radius: 6px;
    background-color: #2C2C2C;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}

table td:last-child{
    text-align: center;
}

main a{
    font-size: 15px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 200;
    padding: 8px 15px;
    border-radius: 6px;
    background-color: #2C2C2C;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}

main a:hover{
    transform: scale(1.05);
    cursor: pointer;
    background-color: #494949;
}

/* MODAL */

.master h2{
    padding: 6px;
    border-radius: 10px;
}

.master table td:nth-child(1),
.master table td:nth-child(3){
    padding: 5px;
    font-weight: bolder;
}

.master table td:nth-child(2),
.master table td:nth-child(4){
    padding: 5px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.3);
}

label{
    color: var(--text-color);
    margin-bottom: 10px;
}

.modal-content {
    background-color: var(--card-bg);
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid rgb(0, 0, 0, 0.3);
    width: 40%;
    border-radius: 14px;
    box-shadow: 7px 7px 10px rgb(0, 0, 0, 0.4);
    animation: animacionModal 0.5s normal;
}

.modal-content h2{
    background-color: var(--bg-h2);
    box-shadow: 3px 3px 6px rgb(0, 0, 0, 0.3);
    width: 32%;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    color: var(--text-color);
}

.modal-content form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-content form input[type="text"],
.modal-content form input[type="password"]{
    padding: 6px;
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 100%;
    outline: none;
    transition: .3s;
    background-color: var(--input-text);
}

.modal-content form input[type="text"]:hover, 
.modal-content form input[type="password"]:hover {
    outline: 0.1px solid rgb(0, 0, 0, 0.2);
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.3);
}

.modal-content form input[type="submit"]{
    width: 80%;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid rgb(0, 0, 0, 0.1);
    background-color: #97ffb9;
    box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.2);
    transition: .5s;
    outline: none;
}

.modal-content form input[type="submit"]:hover{
    font-weight: bolder;
    cursor: pointer;
    box-shadow: 4px 5px 10px rgb(0, 0, 0, 0.4);
    border: 0.2px solid rgb(7, 124, 52, 0.2);
    padding: 12px;
    outline: 1px solid rgb(0, 0, 0, 0.2);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#cerrar{
    margin-top: 30px;
    font-weight: 400;
    text-align: center;
    background-color: #97ffb9;
    padding: 12px;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    box-shadow: 4px 4px 6px rgb(0, 0, 0, 0.2);
    outline: none;
    transition: all 0.2s ease-in-out;
    animation: inicio 1s normal;
}

#cerrar:hover{
    background-color: #ba0000;
    color: white;
    box-shadow: 6px 6px 10px rgb(0, 0, 0, 0.5);
    cursor: pointer;
    font-weight: bolder;
    transform: scale(1.07);
}

.error-message {
    color: red;
    font-size: 0.9em;
    background-color: #edd4d4;
    border: 1px solid #e6c3c3;
    padding: 10px;
    border-radius: 5px;
    width: 40%;
    margin: auto;
    margin-top: 5px;
    text-align: center;
    animation: inicio 1s ease;
}

.input-error {
    border: 2px solid red;
    background-color: #f8d7da;
}

/* ANIMACIONES */

@keyframes inicio{
    0%{
        transform: translateY(-50px);
        opacity: 0%;
    }
    100%{
        transform: translateY(0px);
        opacity: 100%;
    }
}

@keyframes animacionModal{
    0%{
        transform: translateY(-100px);
        opacity: 0%;
    }
    100%{
        transform: translateY(0px);
        opacity: 100%;
    }
}

@keyframes animacionCierre{
    0%{
        opacity: 100%;
    }
    100%{
        opacity: 0%;
    }
}

@keyframes animacionActualizacion{
    0%{
        transform: translateY(-100px);
        opacity: 0%;
        display: none;
    }
    100%{
        transform: translateY(0px);
        opacity: 100%;
        display: flex;
    }
}

/* Modo Claro */
:root {
    --bg-color: #FFFFFF;
    --header-bg: #F5F5F5;
    --text-color: #333;
    --card-bg: #FFFFFF;
    --card-border: #dfdfdf;
    --link-bg: #2C2C2C;
    --scrollbar-bg: #b0b0b0;
    --link-a: #fff;
    --icon-filter: invert(0) brightness(0);
    --icon-theme: #1f1e1e;
    --selection: #D9D9D9;
    --bg-h2: #dad7d7;
    --input-text: #f0f0f0;
}

/* Modo Oscuro */
.dark-mode {
    --bg-color: #121212;
    --header-bg: #1E1E1E;
    --text-color: #E0E0E0;
    --text-secondary-color: #B0B0B0;
    --card-bg: #1E1E1E;
    --card-border: #292929;
    --link-bg: #fff;
    --scrollbar-bg: #666;
    --link-a: #333;
    --icon-filter: invert(1) brightness(1);
    --icon-theme: #ececec;
    --selection: #a0a0a0;
    --bg-h2: #6d6d6d;
    --input-text: #c7c7c7;
}

#toggleTheme{
    border: none;
    border-radius: 50%;
    background-color: var(--icon-theme);
    width: 35px;
}

#toggleTheme:hover{
    cursor: pointer;
}